<div class="container">
	<div ng-show="newCtrl.sessionUser">
	<h3>New Event</h3>

		<form ng-submit="newCtrl.addEvent()">

			<div class="col-xs-12">
				<div class="form-group">
					<label>Event Name:</label>
					<input type="text" class="form-control" placeholder="Event Name" ng-model="newCtrl.newEvent.name" required>
				</div>
			</div>

			<div class="form-group">
				<input type="hidden" class="form-control" placeholder="Organizer Name" ng-model="newCtrl.newEvent.organizer.name" required>
			</div>
			<div class="form-group">
				<input type="hidden" class="form-control" placeholder="Organizer Phone" ng-model="newCtrl.newEvent.organizer.phone" required>
			</div>
			<div class="form-group">
				<input type="hidden" class="form-control" placeholder="Organizer Email" ng-model="newCtrl.newEvent.organizer.email" required>
			</div>

			<div class="col-xs-12">
				<div class="form-group">
					<label>Where:</label>
					<input type="text" class="form-control" placeholder="Where" ng-model="newCtrl.newEvent.where" required>
				</div>
			</div>

			<div class="col-xs-6">
				<div class="form-group">
					<label>Start Date and Time:</label>
					<input type="datetime-local" class="form-control" placeholder="Start Date" ng-model="newCtrl.newEvent.startDate" required>
				</div>
			</div>

			<div class="col-xs-6">
				<label>End Date and Time:</label>
				<div class="form-group">
					<input type="datetime-local" class="form-control" placeholder="End Date" ng-model="newCtrl.newEvent.endDate" required>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="form-group">
					<input type="submit" class="form-control btn btn-primary" value="Create">
				</div>
			</div>
		</form>
	</div>
	<div ng-hide="newCtrl.sessionUser">
		<p>derp</p>
	</div>
</div>
