doctype html
html(lang="en")
	head
		link(rel="stylesheet" href="Styles/main.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		block title
	body
		//- Header and nav should go here
		div.container
			block content
		//- Footer should go here